# Desafio extra Módulo 4 Senac | Resilia
# Aluno: Daniel Marques da Silva
## Contexto:

A companhia Milsa possui dados de 36 funcionários da seção de orçamentos. Para
cada funcionário temos os seguintes atributos: estado civil, instrução de educação, filhos,salário, idade (anos e meses), região. A imagem a seguir mostra o exemplo de dados de 5 destes funcionários.

![image.png]()

A empresa deseja saber algumas informações sobre esses dados e solicitou que você
fizesse uma análise detalhada em um notebook. O notebook precisa estar bem
estruturado e com markdowns explicando cada insight encontrado.
Leia o dataset e realize uma análise sabendo das seguintes questões que precisam
ser levadas em conta…

# Checklist
Primeiramente, coloque a coluna Funcionário como índice;

■ Saiba que a coluna meses não é necessária para a análise e deve ser retirada;

■ Qual a média de idade dos funcionários?

■ Dos funcionários, com filhos, qual o número mais comum?

■ Qual a média e a mediana dos salários dos funcionários? O que esses valores
podem indicar?

■ Quais são os tipos de instrução existentes?

■ Qual a média de salário e idade das pessoas casadas?

■ Qual o funcionário que possui maior salário (informe seus atributos)?

■ Qual o funcionário que possui menor idade (informe seus atributos)?

■ Quem são os funcionários que possuem no máximo 35 anos, são da capital e tem
instrução de 2o grau?

■ Faça uma correlação entre todos os atributos. (Dica: mapeie os atributos
qualitativos para atributos quantitativos. Ex: solteiro: 1, casado: 2, etc).

■ Forneça pelo menos mais 3 informações que você achar interessante.

In [ ]:
import pandas as pd

#Importação do data frame
dadosMilsa = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv')
dadosMilsa

    Funcionario Est.civil      Inst  Filhos  Salario  Anos  Meses    Regiao
0             1  solteiro   1o Grau     NaN     4.00    26      3  interior
1             2    casado   1o Grau     1.0     4.56    32     10   capital
2             3    casado   1o Grau     2.0     5.25    36      5   capital
3             4  solteiro   2o Grau     NaN     5.73    20     10     outro
4             5  solteiro   1o Grau     NaN     6.26    40      7     outro
5             6    casado   1o Grau     0.0     6.66    28      0  interior
6             7  solteiro   1o Grau     NaN     6.86    41      0  interior
7             8  solteiro   1o Grau     NaN     7.39    43      4   capital
8             9    casado   2o Grau     1.0     7.59    34     10   capital
9            10  solteiro   2o Grau     NaN     7.44    23      6     outro
10           11    casado   2o Grau     2.0     8.12    33      6  interior
11           12  solteiro   1o Grau     NaN     8.46    27     11   capital
12           13  solteiro   2o Grau     NaN     8.74    37      5     outro
13           14    casado   1o Grau     3.0     8.95    44      2     outro
14           15    casado   2o Grau     0.0     9.13    30      5  interior
15           16  solteiro   2o Grau     NaN     9.35    38      8     outro
16           17    casado   2o Grau     1.0     9.77    31      7   capital
17           18    casado   1o Grau     2.0     9.80    39      7     outro
18           19  solteiro  Superior     NaN    10.53    25      8  interior
19           20  solteiro   2o Grau     NaN    10.76    37      4  interior
20           21    casado   2o Grau     1.0    11.06    30      9     outro
21           22  solteiro   2o Grau     NaN    11.59    34      2   capital
22           23  solteiro   1o Grau     NaN    12.00    41      0     outro
23           24    casado  Superior     0.0    12.79    26      1     outro
24           25    casado   2o Grau     2.0    13.23    32      5  interior
25           26    casado   2o Grau     2.0    13.60    35      0     outro
26           27  solteiro   1o Grau     NaN    13.85    46      7     outro
27           28    casado   2o Grau     0.0    14.69    29      8  interior
28           29    casado   2o Grau     5.0    14.71    40      6  interior
29           30    casado   2o Grau     2.0    15.99    35     10   capital
30           31  solteiro  Superior     NaN    16.22    31      5     outro
31           32    casado   2o Grau     1.0    16.61    36      4  interior
32           33    casado  Superior     3.0    17.26    43      7   capital
33           34  solteiro  Superior     NaN    18.75    33      7   capital
34           35    casado   2o Grau     2.0    19.40    48     11   capital
35           36    casado  Superior     3.0    23.30    42      2  interior

In [ ]:
#Colocando a coluna Funcionario como indice da tabela:
dadosMilsa = dadosMilsa.set_index('Funcionario')
dadosMilsa

            Est.civil      Inst  Filhos  Salario  Anos  Meses    Regiao
Funcionario
1            solteiro   1o Grau     NaN     4.00    26      3  interior
2              casado   1o Grau     1.0     4.56    32     10   capital
3              casado   1o Grau     2.0     5.25    36      5   capital
4            solteiro   2o Grau     NaN     5.73    20     10     outro
5            solteiro   1o Grau     NaN     6.26    40      7     outro
6              casado   1o Grau     0.0     6.66    28      0  interior
7            solteiro   1o Grau     NaN     6.86    41      0  interior
8            solteiro   1o Grau     NaN     7.39    43      4   capital
9              casado   2o Grau     1.0     7.59    34     10   capital
10           solteiro   2o Grau     NaN     7.44    23      6     outro
11             casado   2o Grau     2.0     8.12    33      6  interior
12           solteiro   1o Grau     NaN     8.46    27     11   capital
13           solteiro   2o Grau     NaN     8.74    37      5     outro
14             casado   1o Grau     3.0     8.95    44      2     outro
15             casado   2o Grau     0.0     9.13    30      5  interior
16           solteiro   2o Grau     NaN     9.35    38      8     outro
17             casado   2o Grau     1.0     9.77    31      7   capital
18             casado   1o Grau     2.0     9.80    39      7     outro
19           solteiro  Superior     NaN    10.53    25      8  interior
20           solteiro   2o Grau     NaN    10.76    37      4  interior
21             casado   2o Grau     1.0    11.06    30      9     outro
22           solteiro   2o Grau     NaN    11.59    34      2   capital
23           solteiro   1o Grau     NaN    12.00    41      0     outro
24             casado  Superior     0.0    12.79    26      1     outro
25             casado   2o Grau     2.0    13.23    32      5  interior
26             casado   2o Grau     2.0    13.60    35      0     outro
27           solteiro   1o Grau     NaN    13.85    46      7     outro
28             casado   2o Grau     0.0    14.69    29      8  interior
29             casado   2o Grau     5.0    14.71    40      6  interior
30             casado   2o Grau     2.0    15.99    35     10   capital
31           solteiro  Superior     NaN    16.22    31      5     outro
32             casado   2o Grau     1.0    16.61    36      4  interior
33             casado  Superior     3.0    17.26    43      7   capital
34           solteiro  Superior     NaN    18.75    33      7   capital
35             casado   2o Grau     2.0    19.40    48     11   capital
36             casado  Superior     3.0    23.30    42      2  interior

In [ ]:
#Retirada da coluna meses
dadosMilsa = dadosMilsa.drop('Meses',axis = 1)

In [ ]:
#Qual a média de idade dos funcionários? (Vou arredondar)
idade_media = dadosMilsa['Anos']
idade_media.mean().round(0)

35.0

In [ ]:
#Dos funcionários, com filhos, qual o número mais comum?
filhos = dadosMilsa[dadosMilsa['Filhos'] != 'NA']['Filhos'].value_counts().idxmax()
print(f'O número de filhos entre os funcionários mais comum é de {filhos} filhos.')

O número de filhos entre os funcionários mais comum é de 2.0 filhos.

In [ ]:
#Qual a média e a mediana dos salários dos funcionários? O que esses valores podem indicar?
media_Salario = dadosMilsa['Salario'].mean()
mediana_Salario= dadosMilsa['Salario'].median()
print(media_Salario)
print(mediana_Salario)

11.122222222222222
10.165

In [ ]:
#Quais são os tipos de instrução existentes?
instrucoes = dadosMilsa['Inst'].unique()

instrucoesstg = 'Os tipos de instrução são ' +', '.join(instrucoes) +'.'
instrucoesstg

'Os tipos de instrução são 1o Grau, 2o Grau, Superior.'

In [ ]:
#Qual a média de salário e idade das pessoas casadas?
casados_medias_Salário = dadosMilsa.loc[dadosMilsa['Est.civil'] == 'casado', 'Salario'].mean()
casados_medias_Idade = dadosMilsa.loc[dadosMilsa['Est.civil'] == 'casado', 'Anos'].mean()
print(f' A média de salários das pessoas casadas é {casados_medias_Idade} reais por hora.')
print(f' A média de idade dos casados é {casados_medias_Salário}.')

 A média de salários das pessoas casadas é 35.15 reais por hora.
 A média de idade dos casados é 12.1235.

In [ ]:
 #Qual o funcionário que possui maior salário (informe seus atributos)?
indice_maior_salario = dadosMilsa['Salario'].idxmax()
func_maior_salario = dadosMilsa.loc[indice_maior_salario]
func_maior_salario

Est.civil      casado
Inst         Superior
Filhos            3.0
Salario          23.3
Anos               42
Regiao       interior
Name: 36, dtype: object

In [ ]:
#Qual o funcionário que possui menor idade (informe seus atributos)?
indice_mais_novo = dadosMilsa['Anos'].idxmin()
funcionario_mais_novo = dadosMilsa.loc[indice_mais_novo]
funcionario_mais_novo

Est.civil    solteiro
Inst          2o Grau
Filhos            NaN
Salario          5.73
Anos               20
Regiao          outro
Name: 4, dtype: object

In [ ]:
#Quem são os funcionários que possuem no máximo 35 anos, são da capital e tem instrução de 2o grau?
localizar_funcionarios  = dadosMilsa.loc[(dadosMilsa['Anos'] <= 35) & (dadosMilsa['Regiao'] == 'capital') & (dadosMilsa['Inst'] == '2o Grau')]
localizar_funcionarios

            Est.civil     Inst  Filhos  Salario  Anos   Regiao
Funcionario
9              casado  2o Grau     1.0     7.59    34  capital
17             casado  2o Grau     1.0     9.77    31  capital
22           solteiro  2o Grau     NaN    11.59    34  capital
30             casado  2o Grau     2.0    15.99    35  capital

In [ ]:
#Faça uma correlação entre todos os atributos. (Dica: mapeie os atributos qualitativos para atributos quantitativos. Ex: solteiro: 1, casado: 2, etc).

#Convertendo os atributos qualitativos em quantitativos
estado_civil_remap = {'solteiro': 1, 'casado': 2}
inst_remap = {'1o Grau': 1, '2o Grau': 2, 'superior': 3}
regiao_remap = {'capital': 1, 'interior': 2, 'outro': 3}


dadosMilsa['Est.civil'] = dadosMilsa['Est.civil'].map(estado_civil_remap)
dadosMilsa['Inst'] = dadosMilsa['Inst'].map(inst_remap)
dadosMilsa['Regiao'] = dadosMilsa['Regiao'].map(regiao_remap)

correlacao = dadosMilsa.corr() 

correlacao

           Est.civil      Inst    Filhos   Salario      Anos    Regiao
Est.civil   1.000000  0.247156       NaN  0.247488  0.095369 -0.213498
Inst        0.247156  1.000000 -0.006376  0.478305 -0.260400 -0.016723
Filhos           NaN -0.006376  1.000000  0.358065  0.746539 -0.036868
Salario     0.247488  0.478305  0.358065  1.000000  0.363362 -0.093966
Anos        0.095369 -0.260400  0.746539  0.363362  1.000000 -0.077851
Regiao     -0.213498 -0.016723 -0.036868 -0.093966 -0.077851  1.000000

In [ ]:
#Pergunta extra 1: Existe correlação entre número de filhos e Anos?
print(dadosMilsa[['Filhos', 'Anos']].corr())
print('Como observado Existe uma correlação forte entre os atributos Filhos e Anos, indicando que eles possivelmente se influenciam')

          Filhos      Anos
Filhos  1.000000  0.746539
Anos    0.746539  1.000000
Como observado Existe uma correlação forte entre os atributos Filhos e Anos, indicando que eles possivelmente se influenciam

In [ ]:
# Pergunta extra 2: Existe correlação entre o salário e Instrução?
print(dadosMilsa[['Inst', 'Salario']].corr())
print('Pode se observar uma correlação de quase 50%, indicando que sim, bem possivelmente esses atributos se influenciam')

             Inst   Salario
Inst     1.000000  0.478305
Salario  0.478305  1.000000

In [ ]:
# Pergunta extra 3: Existe correlação entre a Instrução e a região?
print(dadosMilsa[['Inst', 'Regiao']].corr())
print('Com uma correlação negativa de pouco mais de um porcento, observa-se que existe uma correlação baixa entre o nível de instrução e a região')

            Inst    Regiao
Inst    1.000000 -0.016723
Regiao -0.016723  1.000000